
body {
    background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.first{
    display: flex;
}
a{text-decoration: none;}
.menu{
    width: 20%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.container{
    background-image: url('..images/bg-curvy-destop.svg');
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

    .second{
        flex-direction: column;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
       
    }
    .third{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 72%;
        margin: 50px auto;
        align-content: center;
    }
    #message{
         width:50%; 
         display:flex; 
         flex-wrap:wrap;
    }

    .gett{
        border-radius: 10px;
        background-color: lightskyblue;
        width: 300px;

    }
    
    .fourth{
        display: flex;
        flex-wrap:nowrap;
        justify-content: space-between;
        width: 90%;
        margin: 0px auto;
        align-content: center;
        
    }
     .stayproductive{
        width: 50%;
        display: flex;
    } 
    .imgs{
        width: 95%;
    }

    #productive{
        text-align:left;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
    }

    .fifth{
        width: 100%;
    }
    .boxholder{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 35px;
        left: -50px;
    }

     .quoteimage{
        float: left;
          
    } 
    .boxes{
        width: 30%;
        height: 150px;
        display: flex;
        background-color: #808080;
    }
    .sixth{
        position: relative;
        top: 100px;
        width: 70%;
        background-color:  #808080;
        align-content: center;
        display: inline-flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        padding: 0 10px;
        font-size: 14px;
        padding: 20px;
        padding-bottom: 30px;
    }
    button{
        border-radius: 10px;
        margin-left: 10px;
        background-color: skyblue;
    }
    .email{
        border-radius: 10px;
        padding: 7px 30px 7px 70px;
        width: 150px;
    }
    .footer{
        border-color: hsl(216, 53%, 9%);
        height: 400px;
        width: 100%;
    }

     @media screen and (min-width: 375px){
        #message, 
        .stayproductive, 
        .boxes, 
        .third, 
        .fourth, 
        .gett, 
        .first, 
        .fifth, 
        {
            width: 100%;
        }
    } 